<div
  class="bg-gradient-to-t from-gray-900 via-blue to-blue-950 min-h-screen"
  id="gestionar-eventos"
>
  <div class="flex items-center justify-center min-h-screen">
    <!-- Contendor CENTRAL -->
    <div
      class="bg-white rounded-lg p-8 m-8 md:m-8 w-full md:w-1/2 lg:w-1/3 xl:w-1/4 flex-grow"
    >
      <div class="flex flex-col md:flex-row space-y-4 md:space-y-0">
        <!-- Columna 1 -->
        <div class="md:w-1/2 bg-gray-200 rounded-lg p-4 h-full">
          <div class="w-full h-auto">
            <img
              [src]="'http://127.0.0.1:8000' + event.eventImage"
              alt=""
              srcset=""
            />
          </div>

          <hr class="w-1/2 md:w-full border-t border-slate-950 mt-4 mb-4" />

          <div>
            <div class="w-full h-auto">
              <h2 class="text-center flex font-bold">Detalles:</h2>
            </div>

            <div class="w-full h-auto">
              <h2 class="text-center flex justify-center items-center">
                {{ event.description }}
              </h2>
            </div>
          </div>

          <div>
            <div class="w-full h-auto">
              <h2 class="text-center flex font-bold">Inicio del Evento:</h2>
            </div>

            <div class="w-full h-auto">
              <h2 class="text-center flex justify-center items-center">
                {{ event.dateEventStart | date : "dd" : "UTC" }}/{{
                  event.dateEventStart | date : "MMM"
                }}/{{ event.dateEventStart | date : "yyy" }}
              </h2>

              <h2 class="text-center flex justify-center items-center">
                {{ event.dateEventStart | date : "HH" : "UTC" }}:{{
                  event.dateEventStart | date : "m"
                }}
              </h2>
            </div>
          </div>

          <hr class="w-1/2 md:w-full border-t border-slate-950 mt-4 mb-4" />

          <div>
            <div class="w-full h-auto">
              <h2 class="text-center flex font-bold">
                Entradas Disponibles: {{ this.message }}
              </h2>
            </div>
          </div>

          <div>
            <div class="w-full h-auto">
              <h2 class="text-center flex font-bold">
                Precio de Entrada: {{ event.entryPrice }}
              </h2>
            </div>
          </div>
        </div>

        <!-- Columna 2 -->
        <div class="md:w-1/2 bg-gray-300 rounded-lg p-4">
          <!-- Contenido de la columna 2 -->
          <div class="flex flex-col h-full justify-center items-center">
            <!-- Divide en 2 subcolumnas con espacio entre ellas -->
            <div class="rounded p-2">
              <h2 class="text-4xl text-center">
                {{ event.eventName | titlecase }}
              </h2>
            </div>

            <hr class="w-1/2 md:w-full border-t border-slate-950 mt-4 mb-4" />

            <div class="rounded p-2 text-center">
              <h2 class="text-lg">
                {{ event.description }} Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Consectetur sed itaque obcaecati sit tenetur
                voluptatibus numquam iure cupiditate odio, reiciendis animi
                rerum nisi nostrum aspernatur, nam cum aperiam, mollitia nulla.
              </h2>
            </div>

            <hr class="w-1/2 md:w-full border-t border-slate-950 mt-4 mb-4" />

            <div class="rounded p-2">
              <h2 class="text-lg">Ubicación:</h2>
            </div>

            <div class="w-full lg:w-96 relative">
              <div
                class="aspect-w-1 aspect-h-1 lg:aspect-none lg:w-96 h-96"
                style="max-width: 24rem"
              >
                <event-map
                  [latitude]="event.latitude"
                  [longitude]="event.longitude"
                ></event-map>
              </div>
            </div>

            <hr class="w-1/2 md:w-full border-t border-slate-950 mt-4 mb-4" />

            <div class="flex flex-col md:flex-row space-y-4 md:space-y-0">
              <button
                *ngIf="showButton"
                data-modal-target="buyModal"
                data-modal-toggle="buyModal"
                class="text-white bg-gradient-to-br from-blue-950 via-slate to-blue hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                (click)="openBuyModal()"
                aria-current="page"
              >
                Comprar Entradas
              </button>
              <div
                id="buyModal"
                tabindex="-1"
                aria-hidden="true"
                class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center z-50"
                *ngIf="modalService.isBuyEntryModalOpen"
              >
                <entry-buy-entry [eventId]="event.id"></entry-buy-entry>
              </div>

              <div class="rounded p-2 text-center">
                <button
                  routerLink=""
                  type="button"
                  class="text-white bg-gradient-to-br from-red-950 via-slate to-red hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                >
                  Regresar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
