<shared-navbar></shared-navbar>

<div class="bg-gradient-to-b from-gray-500 via-blue-100 to-white-950">

  <div class="relative bg-gray-600/50 rounded-lg p-4 w-4/5 mx-auto">
    <div id="controls-carousel" class="relative w-full" data-carousel="static">

      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">

        <!-- <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            [src]="imageOne"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
            style="z-index: 1;"
          />
        </div> -->

        <div
          class="hidden duration-700 ease-in-out"
          data-carousel-item="active"
        >
          <img
            [src]="imageTwo"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            [src]="imageTree"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
      </div>

      <button
        type="button"
        class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >

      </button>
      <button
        type="button"
        class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
      </button>

    </div>
  </div>

  <app-list [eventsList]="eventList"></app-list>

</div>
