<style>
  .rounded-box {
    border-radius: 15px;
  }
</style>

<div class="bg-white rounded-lg p-4 h-full" *ngIf="isLoggedIn && isPromotor">
  <div class="flex">
    <div class="mt-4 md:mt-0 flex flex-col justify-center items-center">
      <div class="flex justify-center items-center">
        <img
          src="assets/images/logo/logo_black.png"
          width="12%"
          alt=""
          srcset=""
        />
        <div>
          <h2 class="text-2xl font-semibold">
            &nbsp;Bienvenido {{ userData["email"] }}
          </h2>
        </div>
      </div>

      <p class="mt-2">
        En esta sección, usted podrá administrar y gestionar los eventos
        registrados a su nombre.
      </p>

      <div class="mt-4 items-centers">
        <h2 class="text-2xl font-semibold">Eventos del usuario</h2>
        <div class="mt-4">
          <button
            *ngIf="isLoggedIn"
            data-modal-target="registerModal"
            data-modal-toggle="registerModal"
            class="text-white bg-gradient-to-br from-blue-800 via-slate to-blue-950 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-2 md:mt-0"
            (click)="openRegisterModal()"
            aria-current="page"
          >
            Crear Evento
          </button>
          <p>&nbsp;</p>
          <hr />
          <div
            id="registerModal"
            tabindex="-1"
            aria-hidden="true"
            class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center z-50"
            *ngIf="modalService.isRegisterEventModalOpen"
          >
            <add-event [userId]="userData['id']"></add-event>
          </div>
        </div>

        <h1><b Por Iniciarb> Eventos Por Iniciar </b></h1>

        <div
          *ngFor="let event of eventsToStart"
          class="flex items-center justify-between border-b border-gray-300 py-2"
        >
          <div class="flex items-center space-x-4">
            <div class="w-20 bg-gray-200 rounded-full">
              <img
                [src]="'https://nm-service.onrender.com' + event.eventImage"
                alt=""
                srcset=""
                class="object-cover rounded-full"
              />
            </div>
          </div>
          <div>
            <h3 class="text-lg font-semibold">
              {{ event.eventName }}
            </h3>
            <p class="text-gray-600">Entradas: S/.{{ event.entryPrice }}</p>
          </div>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <div class="md:flex items-center">
            <p class="text-lg font-semibold md:mr-2 text-center">
              {{ event.dateEventStart | date : "d/M/yyyy" }}
              {{ event.dateEventStart | date : "HH:mm" }}
            </p>
            <p class="text-lg font-semibold hidden md:block">&nbsp;</p>

            <button
            data-modal-target="attendeeModal"
            data-modal-toggle="attendeeModal"
            (click)="openAttendeeModal()"
            class="text-white bg-gradient-to-br from-blue-600 via-slate to-blue-950 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-2 md:mt-0"
            >
              Asistencia
            </button>
            <div
            id="attendeeModal"
            tabindex="-1"
            aria-hidden="true"
            class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center z-50"
            *ngIf="modalService.isAttendeeModalOpen"
          >
            <app-qr></app-qr>
          </div>


            <p class="text-lg font-semibold hidden md:block">&nbsp;&nbsp;</p>
            <!-- <button
              class="text-white bg-gradient-to-br from-green-600 via-blue to-red-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-200 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-2 md:mt-0"
              (click)="deleteEvent(event.id)"
            >
              Editar
            </button> -->
            <p class="text-lg font-semibold hidden md:block">&nbsp;&nbsp;</p>
            <button
              class="text-white bg-gradient-to-br from-red-600 via-slate to-red-950 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-200 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-2 md:mt-0"
              (click)="deleteEvent(event.id)"
            >
              Eliminar
            </button>
            <p class="text-lg font-semibold hidden md:block">&nbsp;&nbsp;</p>
          </div>
        </div>

        <hr />



        <h1><b> Eventos Futuros </b></h1>

        <div
          *ngFor="let event of upcomingEvents"
          class="flex items-center justify-between border-b border-gray-300 py-2"
        >
          <div class="flex items-center space-x-4">
            <div class="w-20 bg-gray-200 rounded-full">
              <img
                [src]="'https://nm-service.onrender.com' + event.eventImage"
                alt=""
                srcset=""
                class="object-cover rounded-full"
              />
            </div>
          </div>
          <div>
            <h3 class="text-lg font-semibold">
              {{ event.eventName }}
            </h3>
            <p class="text-gray-600">Entradas: S/.{{ event.entryPrice }}</p>
          </div>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <div class="md:flex items-center">
            <p class="text-lg font-semibold md:mr-2 text-center">
              {{ event.dateEventStart | date : "d/M/yyyy" }}
              {{ event.dateEventStart | date : "HH:mm" }}
            </p>

            <p class="text-lg font-semibold hidden md:block">&nbsp;&nbsp;</p>
            <!-- <button
              class="text-white bg-gradient-to-br from-green-600 via-blue to-red-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-200 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-2 md:mt-0"
              (click)="deleteEvent(event.id)"
            >
              Editar
            </button> -->
            <p class="text-lg font-semibold hidden md:block">&nbsp;&nbsp;</p>
            <button
              class="text-white bg-gradient-to-br from-red-600 via-slate to-red-950 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-200 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-2 md:mt-0"
              (click)="deleteEvent(event.id)"
            >
              Eliminar
            </button>
            <p class="text-lg font-semibold hidden md:block">&nbsp;&nbsp;</p>
          </div>
        </div>
        <hr />
        <h1><b> Eventos Pasados </b></h1>

        <div
          *ngFor="let event of pastEvents"
          class="flex items-center justify-between border-b border-gray-300 py-2"
        >
          <div class="flex items-center space-x-4">
            <div class="w-20 bg-gray-200 rounded-full">
              <img
                [src]="'https://nm-service.onrender.com' + event.eventImage"
                alt=""
                srcset=""
                class="object-cover rounded-full"
              />
            </div>
          </div>
          <div>
            <h3 class="text-lg font-semibold">
              {{ event.eventName }}
            </h3>
            <p class="text-gray-600">Entradas: S/.{{ event.entryPrice }}</p>
          </div>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <div class="md:flex items-center">
            <p class="text-lg font-semibold md:mr-2 text-center">
              {{ event.dateEventStart | date : "d/M/yyyy" }}
              {{ event.dateEventStart | date : "HH:MM" }}
            </p>
            <p class="text-lg font-semibold hidden md:block">&nbsp;</p>
            <button
              [routerLink]="'assistant/'+(event.id)"
              class="text-white bg-gradient-to-br from-blue-600 via-slate to-blue-950 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-2 md:mt-0"
              (click)="openAssistentModal()"
            >
              Listado de Asistencia
            </button>

            <p class="text-lg font-semibold hidden md:block">&nbsp;&nbsp;</p>


            <!-- <button
              class="text-white bg-gradient-to-br from-green-600 via-blue to-red-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-200 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-2 md:mt-0"
              (click)="deleteEvent(event.id)"
            >
              Editar
            </button> -->
            <p class="text-lg font-semibold hidden md:block">&nbsp;&nbsp;</p>
            <button
              class="text-white bg-gradient-to-br from-red-600 via-slate to-red-950 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-200 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-2 md:mt-0"
              (click)="deleteEvent(event.id)"
            >
              Eliminar
            </button>
            <p class="text-lg font-semibold hidden md:block">&nbsp;&nbsp;</p>
          </div>
        </div>
        <router-outlet></router-outlet>
        <hr />
      </div>
    </div>
  </div>
</div>
